.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  opacity: 50%;
}

/* .body{
  background-color: #073642;
  opacity: 70%;
} */

.bgText {
  margin: 0;
  font-size: 3rem;
  line-height: 1rem;
  text-align: center;
  padding-top: 8vh;
  text-shadow: 1.5px 1.5px 1.5px #6d6d6d80;
}

.smText {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
  padding-top: 1vh;
  text-shadow: 1px 1px 1px #6d6d6d80;
}

.hr {
  background-color: #ffffff80;
  width: 40vh;
  margin-top: 4vh;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inLineIcon {
  display: flex;
  margin: 20px;
  width: 15vh;
}

.icon {
  padding: 0.5vh;
}

.resume{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resumePage{
  margin-top: 10px;
}

.aboutPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb2;
  color: #073642;
  margin: 0;
  padding: 0;
}

.aboutImage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb2;
  margin: 20px;
  padding: 5px;
}

.aboutText{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 20px;
}