.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  opacity: 50%;
}



.bgText {
  margin: 0;
  font-size: 3rem;
  line-height: 1rem;
  text-align: center;
  padding-top: 8vh;
  text-shadow: 1.5px 1.5px 1.5px #6d6d6d80;
}

.smText {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
  padding-top: 1vh;
  text-shadow: 1px 1px 1px #6d6d6d80;
}

.hr {
  background-color: #ffffff80;
  width: 40vh;
  margin-top: 4vh;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inLineIcon {
  display: flex;
  margin: 20px;
  width: 15vh;
}

.icon {
  padding: 0.5vh;
}
.icon:hover{
  text-decoration: underline #2aa198;
}

.resumeBackground{
  background-color: #07364293;
  color: #ffffffb2;
}

.resumeDownload{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding:5px;
  text-decoration: underline #000;
}

.resumeDownload:hover{
  text-decoration: underline #2aa198;
}

.resume{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resumePages{
  margin-bottom: 5px;
}

.aboutPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb2;
  color: #073642;
  margin: 0;
  padding: 0;
}

.aboutImage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb2;
  margin: 20px;
  padding: 5px;
}

.aboutText{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 20px;
}

.projectPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07364293;
  color: #ffffffb2;
  margin: 0;
  padding: 0;
}

.projectImageGroup{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  margin: 20px 50px 50px 50px;
}

.projectImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb2;
  margin: 20px;
  padding: 25px;
}

.projectLinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.projectLinksGitHub{
  padding: 0px 25px;
  color: #073642;
  font-weight: bolder;

}

.projectLinksSite{
  padding: 0px 40px;
  color: #073642;
  font-weight: bolder;
}

.projectLang{
  font-size: 10px;
  color: #073642;
  margin: 0px 15pt;
  padding-bottom: 10px;
  text-align: center;
}

.projectText{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
  margin: 0px 0px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #073642;
}

.azDemoPage{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #07364293;
}

.azDemoVideo{
  background-color: #ffffffb2;
  margin: 20px;
  padding: 5px;
}